/*--------------------------------\
|         remove default values    |
\--------------------------------*/
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    line-height: normal;
    scroll-behavior: smooth;
}


/*--------------------------------\
|              variables           |
\--------------------------------*/
:root{
    --backgroundColor1: rgba(255, 255, 255,.1);
    --color1: rgb(78, 76, 76);
    --backgroundColor2:rgba(0,0,0,.6);
    --color2:whitesmoke;
    --aqua: orange;
    --fontFamily: sans-serif;
    --largeSize:xx-large;
    --textSize :large;
    --upperCase: uppercase;
    --lowerCase: lowercase;
    --padding: 2rem;
}
.main{
    --backgroundColor2: rgba(255, 255, 255,.6);
    --color2: rgb(78, 76, 76);
    --backgroundColor1:rgba(0,0,0,.6);
    --color1:whitesmoke;
}

/*--------------------------------\
|                 body             |
\--------------------------------*/
body{
    background: linear-gradient(rgba(245, 244, 244, 0.8),rgba(153, 150, 150, 0.8),rgba(235, 233, 233, 0.8)); 
    color: var(--color1);
    font-family: var(--fontFamily);
}
/* preloader */
.preloader_container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(7, 7, 7, 1);
    z-index: 5;
}
.preloader{
        width:9rem;
        height:9rem;
        border:1rem solid rgba(255, 2, 239, 0.7);
        border-left-color:var(--aqua);
        border-top-color:var(--aqua);
        border-radius:50%;
        animation: rotate 800ms infinite linear;
        z-index: 999;
        position: absolute;
        background-color: rgba(0, 0, 0, 1);
    }
    
    @keyframes rotate{
        to {
            transform: rotate(360deg);
        }
    }
    

/* ----------top menu-------- */
.heading{
    min-height: 100vh;
    width: 100vw;
    position: relative;
}
.base_nav{
    position:fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content:space-around;
    align-items: center; 
    margin-top: 1rem; 
    z-index: 3;
}
.base_nav .fa{
    font-size: 5rem;
    color: var(--color2);
}
.base_nav .fa-bars{

    animation: scales 3s infinite linear;

}
@keyframes scales{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.3);
    }
    50%{
        transform: scale(1.5);
    }
    75%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.heding_title{
    position: absolute;
    margin-top: 30vh;
    width: 100%;
    height: 30vh;
    font-size: var(--largeSize);
    font-weight: bolder;
    color:var(--color2);
    text-align: center;
}

.socialMedia_links{
    margin-top: 3rem;
    color:var(--color1)
}
.socialMedia_links .fa{
    margin-left: 2rem;
    color: var(--aqua);
}

/* price */
.price{
    background-color: rgba(104, 103, 101,.7);
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 4rem;
    position: absolute;
    right: 20%;
    animation: scales 3s infinite linear;
}
.price:hover{
    background-color: rgba(10, 10, 10, 0.7); 
}

/* video */

video{
    position: absolute;
    top: -30vh;
    left: 0;
    width: 100%;
    z-index: -2;
}
.heading::before{
    content: "";
    position: absolute;
    background-color:var(--backgroundColor2);
    width: 100%;
    height: 100%;
}

/* aside navigation */
.aside_navigation{
    position: fixed;
    bottom: 5rem;
    left: 1rem;
    min-height: 70%;
    width: 20rem;
    padding: 2rem;
    border-radius: 10px;
    display: none;
    background-color: var(--backgroundColor1);
}
.aside_navigation li{
    font-size: 2rem;
    margin-bottom: 3rem;
    text-transform: capitalize;
    border-bottom: dotted var(--aqua);
}
.aside_navigation a{
    color: var(--aqua);
    
}


/* about us  */
.about_container{
    width: 80%;
    min-height: 90vh;
    margin: 10rem auto 3rem auto;
    padding-top: 5rem;
}

.about_container h1{
    text-align: center;
}

.about_container > div{
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: 3rem;
}

.about_container .bottomPart img{
    order: 1;
}
.about_container .bottomPart p{
    order: 2;
}
.about_container  p{
    width: 50%;
    margin: 1rem 2rem;
}

.unhide{
    display: block;
} 


/* form  with map*/
.form_container{
    width: 100vw;
    /* min-height: 90vh; */
    height: fit-content;
    margin: 10rem auto 3rem auto;
    padding-top: 5rem; 
    background-color: whitesmoke; 
}
.form_container h1{
    text-align: center;
}
.form_center{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    
}
.downtown_map{
    box-shadow: 0 0 8px 3px;
}
.form{
    width: 40%;
    min-height: fit-content;
    color: white;
    padding: 2rem;
    background-color: var(--backgroundColor2);
    border-radius: 10px;
    position: relative;
}
.form input{
    display: block;
    margin: 3rem auto 0 auto;
    width: 80%;
    height: 2rem;
    background: transparent;
    outline: none;
    border: none;
    border-right: 2px solid white;
    border-bottom:2px solid white ;
    border-radius: 5px;
    padding: 1rem;
    font-size: var(--textSize);
}
.form input::placeholder{
    text-align: center;
}
.form select{
 border: none;
 outline: none;
background-color: transparent;
margin-top: 2rem;
margin-left: 4rem;
color:var(--color2);
font-size: var(--textSize);
}
.form select option{
    background-color:var(--backgroundColor2);
}

button{
    background-color: transparent;
    width: 50%;
    height: 2rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 4px;
    color: var(--color2);
    margin-top: 3rem;
}


/* older_list */
.popupOrder{
    min-height: fit-content;
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
}

.description_center{
    display: flex;
    justify-content: center; 
}
.older_list{
    margin-top: 1rem;
    width: 50%;
    min-height: fit-content;
    height: 10rem;
    background-color:rgba(0,0,0,.6);
    border-radius: .8rem;
    display: flex;
    justify-content: space-between;

}

.older_list .picture_of_user{
    width: 30%;
    height: 100%;
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;    
}
.picture_of_user img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.older_list .name{
    background-color: aliceblue;
    width: 60%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;

}
.name{
    font-size: x-large;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.buttons button{
    width: 80%;
    margin-top: 1rem;
}
.buttons button:hover{
    color: orangered;
}






/* gallery */
.garely{
    margin-top: 10rem;
    padding: 2em;
    min-height: 80vh;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    background-color: var(--backgroundColor2); 
    position: relative;
}
.garely img{
    max-width: 100%;
    height: 100%;
}
.minimize_picture{
    color: red;
    font-size: 4rem;
    position: absolute;
    right: 4rem;
    top: 4rem;
    display: none;
}
/* contact form */

.contact_form{
    margin-top: 10vh;
    min-height: 50vg;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_form .inputs{
    margin-top:2rem ;
    background-color:rgba(0,0,0,.6);
    
}
.inputs input{
    display: block;
    background:transparent;
    border: none;
    outline: none;
    border-bottom: 2px double whitesmoke;
    padding: 2rem;
    width: 100%;
    height: 2rem;
    font-size: var(--textSize)

}
.inputs textarea{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px double whitesmoke;
    outline: none;
    padding: 2rem;
}
.inputs button{
    margin-left: 2rem;
    margin-bottom: 1rem;
}


/* footer */
footer{
    height: 50vh;
    margin-top: 1rem;
    background-color: var(--backgroundColor2);
}


footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.7);
    padding: 2rem;
    height: 30vh;
    color: white;

}

footer h2{
    color: var(--aqua);
    margin-bottom: 1rem;
}
footer p{
    margin-bottom: .5rem;
}
footer .fa{
    display: block;
    margin-bottom:.5rem;
    color: var(--aqua);
}

@media screen and (max-width:760px) {
    .heading{
        background-image: url(./images/pic\ 3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    video{
        display: none;
    }
    
    .topPart, .bottomPart{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about_container .bottomPart img{
        order: 2;
    }
    .about_container .bottomPart p{
        order: 1;
    }
    .form{
        width: 70%;
        margin-bottom: 1rem;
    }
    .older_list{
        width: 80%;
        min-width: 35rem;
    }
    .garely{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .garely img{
    width: 35rem;
    }
}



/* javascript css */
 .try.divp{
    background-color: rgba(0, 0, 0, .9);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.try.divp img{
    height: 70%;
    max-width: 80%;
    /* margin-top:10vh;
    margin-left: 10vw; */
}



